<template>
    <div class="bg-white ml-2 p-2 w-3/12 shadow-lg rounded-lg" style="min-height:310px">
        Kartu 2
        <ul>
            <li v-for="edge in $static.prayTimes.edges" :key="edge.node.date">
                {{ edge.node.timings.Fajr }}
            </li>
        </ul>
    </div>
</template>

<script>
export default {
    created() {
        this.$static.prayTimes.edges.forEach(node => {
            this.schedule.push({
                date: node.id,
                timings: node.timings
            })
        });
    },
    mounted() {
        if (process.isClient) {
            
        }
    },
    data() {
        return {
            schedule: [],
            currentShow: null
        }
    }
}
</script>

<static-query>
query {
    prayTimes: allPrayTimesJaksel {
        edges {
            node {
                id
                timings {
                    Fajr
                    Dhuhr
                    Asr
                    Maghrib
                    Isha
                }
            }
        }
    }
}
</static-query>