<template>
  <div id="main-wrapper" class="flex-col h-screen">
    <div class="flex bg-green-500 half-page rounded-b-homepage">
      <h1>The Mummi</h1>
    </div>
    <div class="flex w-9/12 m-auto" style="margin-top: -12rem">
      <div class="bg-white mr-2 p-2 w-9/12 shadow-lg rounded-lg" style="min-height:310px">Kartu 1</div>
      <SecondCard />
    </div>
    <div class="flex w-9/12 p-4 text-center m-auto mt-12 rounded-lg feature-card">
      <div class="flex-1">A</div> <!-- Program -->
      <div class="flex-1">B</div> <!-- Artikel -->
      <div class="flex-1">C</div> <!-- Donasi -->
      <div class="flex-1">D</div> <!-- Experimental? -->
    </div>
  </div>
</template>

<script>
import * as homeComponent from '../components/homepage'

export default {
  metaInfo: {
    title: 'The Mummi - Heaven is our goal!'
  },
  components: {
    SecondCard: homeComponent.SecondCard
  }
}
</script>

<style>
.half-page {
  height: 50vh;
}
.rounded-b-homepage {
  border-bottom-left-radius: 90px;
  border-bottom-right-radius: 90px;
}

.feature-card {
  background: #F9F9F9;
  box-shadow: 10px 10px 17px rgba(172, 172, 172, 0.15), -10px -10px 17px #FFFFFF;
  border: 1px solid rgba(200, 200, 200, 0.17);
}
</style>
